<div class="chat-room-show-page">
    <nav class="navbar navbar-light chat-room_header">
        <%= link_to matching_index_path class: "nav-item nav-link" do  %>
        <i class="fas fa-chevron-left"></i>
        <% end %>

        <div class="chat-room_partner">
            <span class="chat-room_partner-name">
                <%= @chat_room_users.name %>
            </span>

            <% if @chat_room_users.profile_image.url.nil? %>
            <div class="chat-room_partner-default-img"></div>
            <% else %>
            <%= image_tag @chat_room_users.profile_image.url, class: "chat_room_partner-img"%>
            <% end %>
        </div>
    </nav>


    <div id='chat-messages'>
        <%= render @chat_messages %>
    </div>

    <form class="chat_room_message-form">
        <textarea data-behavior="chat_room_speaker" data-chat_room_id="<%= @chat_room.id %>" placeholder="メッセージを入力"
            class="chat_room_message-form_textarea"></textarea>
    </form>
</div>
