<%#条件式が偽の場合に処理を実行する制御構文%>
<%#　@match_usersが空でないときにマッチングしたユーザを表示%>
<div class="matching-index-page">
    <%= render 'partial/navbar' %>

    <div class="matching">
        <p class="matching-title ml-3">メッセージ</p>
        <p class="matching-num">マッチング中の相手　<%= @match_users.size %>人</p>

        <div class="matching_list">
            <% unless @match_users.empty? %>
            <% @match_users.each do |user| %>

            <%= link_to chat_rooms_path(params: {user_id: user.id}), method: :post do %>
            <div class="matching_parson">
                <% if user.profile_image.url.nil? %>
                <div class="matching_parson-default-img"></div>
                <% else %>
                <%= image_tag user.profile_image.url, class: "matching_parson-img" %>
                <% end %>

                <div class="matching_parson-name">
                    <%= user.name %>
                </div>

            </div>
            <% end %>
            <% end %>
            <% end %>
        </div>
    </div>
</div>
